$footer-background: white;
$footer-colour: black;
$link-colour: inherit;
$link-hover-colour: #555;

footer {
    display: block;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    border-top: 1px solid $light-grey;
}

footer {
    background-color: $footer-background;
    margin-top: 25px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $footer-colour;
    
    .footer-section {
        flex-grow: 1;
        margin-right: 20px;

        p {
            margin-top: 5px;
        }
    }

    strong {
        display: block;
        margin-bottom: 15px;
    }

    nav {
        ul {
            list-style: none;
            padding: 0;
        }

        a {
            color: $link-colour;
            text-decoration: none;
            cursor: pointer;

            &:hover,
            &:active,
            &:visited {
                color: $link-hover-colour;
                text-decoration: none;
            }
        }
    }
}

.Copyright {
    text-align: right;
}